*.py[cod]
*$py.class
__pycache__/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
db.sqlite3
db.sqlite3-journal
media/
static_cdn/
media_cdn/
.env
.venv
venv/
ENV/
.idea/
.vscode/
*.log
